*{
  margin: 0;
  padding: 0;
  border: none;
}

*:focus{
  outline: none;
}

html{
  font-size: 10px;
  font-family: 'Prompt', sans-serif;
  overflow-x: hidden;
}

nav{
  padding: 2.5rem 15rem;
  height: calc(15vh - 5rem);
  width: calc(100vw - 30rem);
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.generate nav{
  background-color: white;
  filter: drop-shadow(0 0 10px #BDBDBD40);
}

nav img{
  height: 5rem;
}

nav h1{
  font-size: 3rem;
  font-weight: 600;
  color: #7161C5;
}

.generate-head{
  padding: 2rem 0rem 0rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: medium solid #E2E2E2;
}

.generate-head h1{
  font-size: 2.25rem;
  letter-spacing: 0.05rem;
}

.generate-head svg{
  height: 2rem;
}

.generate-head .generate-mode{
  display: flex;
}

.generate-head .generate-mode button{
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: 600;
  background-color: white;
  color: #9E9E9E;
  border-bottom: medium solid rgba(96, 76, 197, 0);
  transition: 0.3s ease-in-out;
}

.generate-head .generate-mode button:hover{
  color: #7161C5;
  cursor: pointer;
}

.generate-head .generate-mode .active{
  color: #7161C5;
  border-bottom: medium solid rgba(96, 76, 197, 1);
}

.generate-head .generate-mode button svg{
  height: 2rem;
}

.page{
  padding: 5rem 0rem 0rem;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.page .top-section{
  padding: 0rem 15rem;
  height: 10vh;
  display: flex;
}

.top-section .top-text-section{
  width: calc(50vw - 15rem);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.top-section .top-text-section h1{
  font-size: 5rem;
  font-weight: 700;
  color: #7161C5;
  letter-spacing: 0.1rem;
}

.top-section .text-input-section{
  display: flex;
  gap: 1.5rem;
}

.top-section .text-input-section input{
  padding: 1.5rem 2rem 1rem;
  height: 3rem;
  width: 43rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  border: 1px solid rgba(0,0,0,0.25);
  transition: 0.3s ease-in-out;
}

.top-section .text-input-section input:focus{
  border: 1px solid rgba(0,0,0,0.75);
}

.top-section .text-input-section label{
  position: absolute;
  transform: translate(2rem, 1.5rem);
  font-size: 2rem;
  transition: 0.3s ease-in-out;
  color: rgba(0,0,0,0.5);
}

.top-section .text-input-section .placeholder-active{
  position: absolute;
  font-size: 1rem;
  transform: translate(2rem, 0.5rem);
  color: rgba(0, 0, 0, 0.75);
}

.top-section .text-input-section button{
  width: 25rem;
  height: 5.5rem;
  border-radius: 1.5rem;
  background-color: #7161C5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.075rem;
  color: white;
}

.top-section .text-input-section button:hover{
 background-color: #4F4099;
 cursor: pointer;
}

.top-section .text-input-section button:focus{
  background-color: #3B3077;
}

.top-section .side-image{
  width: calc(50vw - 15rem);
}

.top-section .side-image img{
  position: absolute;
  width: 50rem;
  transform: translate(50%, -20%);
}

.page .saved-section{
  padding: 2.5rem 15rem;
  height: calc(50vh - 5rem);
}

.page .saved-section h1{
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.page .saved-section .saved-invoice{
  margin: 1rem 0rem;
  padding: 2rem 2.75rem 0.5rem;
  width: calc(50vw - 15rem);
  border-radius: 1.5rem;
  border: thin solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.saved-section .saved-invoice .saved-invoice-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.saved-section .saved-invoice-top button{
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  font-family: 'Prompt', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #7161C5;
  border-radius: 1.5rem;
  background-color: #f2efff00;
  transition: 0.3s ease-in-out;
}

.saved-section .saved-invoice-top button:hover{
  background-color: #F2EFFF;
  cursor: pointer;
}

.saved-section .saved-invoice .invoice-arrow{
  transition: 0.3s ease-in-out;
}

.saved-section .saved-invoice .invoice-open{
  transform: rotate(180deg);
}

.saved-section .saved-invoice-body{
  height: 0;
  opacity: 0;
  width: calc(100% - 3rem);
  visibility: hidden;
  transition: all 0.3s ease-in-out 0.6s, opacity 0.3s ease-in-out, height 0.3s ease-in-out 0.6s;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.saved-section .invoice-body-open{
  transition: 0.3s ease-in-out 0.3s;
  opacity: 1;
  height: auto;
  visibility: visible;
  margin: 0rem 0rem 1.5rem;
}

.invoice{
  background-color: white;
  filter: drop-shadow(0 0 25px #5F5F5E40);
}

.invoice .invoice-head{
  padding: 40px 45px;
  display: flex;
  justify-content: space-between;
  border-top: 10px solid #7161C5;
  background-color: #F9F8FF;
}

.invoice .invoice-head .logo{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: #7161C5;
}

.invoice .invoice-head .logo img{
  height: 30px;
}

.invoice .invoice-head .company-details{
  text-align: right;
}

.invoice-head .company-details h2{
  font-weight: 600;
}

.invoice .invoice-summary{
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
}

.invoice .invoice-summary .invoice-summary-top{
  display: flex;
  justify-content: space-between;
}

.invoice .invoice-summary .invoice-amount{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.invoice-summary .invoice-amount h1{
  color: #7161C5;
}

.invoice-summary-content{
  margin: 15px 0px;
  padding: 10px;
  border: thin solid #ACA5D6;
  border-radius: 10px;
}

.invoice-summary-content table{
  width: 100%;
}

.invoice-summary-content table tr{
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  text-align: center;
  padding: 20px 5px;
  border-radius: 10px;
}

.invoice-summary-content table th:first-of-type, .invoice-summary-content table td:first-of-type{
  text-align: left;
}

.invoice-summary-content table th:last-of-type, .invoice-summary-content table td:last-of-type{
  text-align: right;
}

.invoice-summary-content table tr:nth-of-type(odd){
  background-color: #F9F8FF;
}

.invoice-summary-content table tr:first-of-type{
  padding: 0px 0px 10px;
  background-color: white;
  border-bottom: thin solid #DFDCF3;
  border-radius: 0px;
}

.invoice-summary-content table tr:last-of-type{
  background-color: white;
  border-top: thin solid #DFDCF3;
  border-radius: 0px;
}

.invoice-summary-content table th{
  font-size: 15px;
  letter-spacing: 0.4px;
  color: #7161C5;
}

.invoice-summary-content table td{
  font-size: 12px;
  letter-spacing: 0.25px;
  font-weight: 600;
}